# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
examples        export-ignore
drivers         export-ignore


# exclude CI configurations (useless outside the repo)
.travis-ci.yml  export-ignore
.appveyor.yml   export-ignore
