


devel/*
.DS_Store
*.pyc
*.json
*.yaml
xopt.egg-info

#pycharm files
.idea

# python files in examples
examples/*.py
private_tests/*

# Jupyter Notebook
.ipynb_checkpoints

# local mkdocs
site

# vscode config
.env

# pytorch modules
*.pt
*.csv
