site_name: Xopt
repo_url: https://github.com/xopt-org/Xopt
repo_name: xopt-org/Xopt

nav:
    - Home: index.md
    - Installation: installation.md
    - Algorithms: algorithms.md
    - Examples:
        - Basics:
            - examples/basic/xopt_basic.ipynb
            - examples/basic/xopt_cli.md
            - examples/basic/xopt_parallel.ipynb
            - examples/basic/xopt_vocs.ipynb
            - examples/basic/xopt_evaluator.ipynb
            - examples/basic/xopt_generator.ipynb
        - Bayesian:
            - Gaussian Process Model Creation:
                - Basic example: examples/gp_model_creation/model_creation.ipynb
            - Bayesian Exploration:
                - Bayesian Exploration: examples/bayes_exp/bayesian_exploration.ipynb
                - Bayesian Exploration from yaml: examples/bayes_exp/bayesian_exploration_from_yaml.ipynb
            - Single Objective Bayesian Optimization:
                - Bayesian optimization tutorial: examples/single_objective_bayes_opt/bo_tutorial.ipynb
                - Constrained optimization: examples/single_objective_bayes_opt/constrained_bo_tutorial.ipynb
                - Upper confidence bound: examples/single_objective_bayes_opt/upper_confidence_bound.ipynb
                - Custom GP models: examples/single_objective_bayes_opt/custom_model.ipynb
                - Trust region: examples/single_objective_bayes_opt/turbo_tutorial.ipynb
                - Interpolated optimization: examples/single_objective_bayes_opt/interpolate_tutorial.ipynb
                - Multi-Fidelity: examples/single_objective_bayes_opt/multi_fidelity_simple.ipynb
                - Time dependent upper confidence bound: examples/single_objective_bayes_opt/time_dependent_bo.ipynb
                - Bayesian Algorithm Execution: examples/single_objective_bayes_opt/bax_tutorial.ipynb
                - Bayesian Optimization with fixed features: examples/single_objective_bayes_opt/fixed_features.ipynb
                - Custom objectives: examples/single_objective_bayes_opt/custom_objective.ipynb
                - Heteroskedastic modeling: examples/single_objective_bayes_opt/heteroskedastic_noise_tutorial.ipynb
            - Trust Region Bayesian Optimization:
                - Basic example: examples/trust_region_bo/turbo_basics.ipynb
                - Optimization: examples/trust_region_bo/turbo_optimize.ipynb
                - Safety: examples/trust_region_bo/turbo_safety.ipynb
            - Multi-Objective Bayesian Optimization:
                - Expected hypervolume improvement: examples/multi_objective_bayes_opt/mobo.ipynb
                - Multi-fidelity expected hypervolume improvement: examples/multi_objective_bayes_opt/multi_fidelity_mobo.ipynb
                - Multi-generation gaussian process optimization: examples/multi_objective_bayes_opt/mggpo.ipynb
        - Evolutionary / Genetic:
            - CNSGA: examples/ga/cnsga_tnk.ipynb
            - NSGA-II:
              - examples/ga/nsga2/index.md
              - "YAML Interface":
                - examples/ga/nsga2/yaml_interface/index.md
                - examples/ga/nsga2/yaml_interface/nsga2_yaml.ipynb
                - "Download Template": examples/ga/nsga2/yaml_interface/assets/yaml_runner_example.zip
              - examples/ga/nsga2/nsga2_python.ipynb
              - examples/ga/nsga2/nsga2_to_cnsga.ipynb
              - examples/ga/nsga2/genetic_operators.ipynb

        - Sequential:
            - Nelder-Mead: examples/sequential/neldermead.ipynb
            - Extremum seeking: examples/sequential/extremum_seeking.ipynb
            - RCDS: examples/sequential/rcds.ipynb
        - Other:
            - Latin Hypercube: examples/scipy/latin_hypercube.ipynb

    - API:
      - Xopt: api/xopt.md
      - Vocs: api/vocs.md
      - Evaluator: api/evaluator.md
      - Generators:
          - Base generator class: api/generators.md
          - Bayesian generators: api/generators/bayesian.md
          - Genetic generators: api/generators/genetic.md
          - SciPy generators: api/generators/scipy.md

theme:
  icon:
    repo: fontawesome/brands/github
  name: material

  custom_dir: docs/overrides
  features:
    - navigation.top
    - navigation.tabs
    - navigation.indexes
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  # The following are for mathjax rendering of LaTeX formulas:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/xopt-org/xopt
      name: Xopt

extra_css:
  - stylesheets/extra.css

plugins:
  - search

  - mkdocs-jupyter:
      include_source: True
      execute: True

  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            filters:
              - "!^_" # exclude all members starting with _
              - "^__init__$" # but always include __init__ modules and methods
            docstring_style: numpy
            docstring_options:
              ignore_init_summary: false
            heading_level: 3
            show_root_heading: true
            show_root_toc_entry: true
            show_root_full_path: true
            show_root_members_full_path: false
            show_object_full_path: true
            show_category_heading: true
            show_if_no_docstring: false
            show_signature: true
            signature_crossrefs: true
            show_signature_annotations: false
            separate_signature: true
            line_length: 100
            merge_init_into_class: true
            show_source: true
            show_bases: true
            show_submodules: false
            group_by_category: true
            unwrap_annotated: true
            import:
              - https://docs.python.org/3/objects.inv
              - https://docs.h5py.org/en/stable/objects.inv
              - https://slaclab.github.io/lume-base/objects.inv
              - https://lark-parser.readthedocs.io/en/latest/objects.inv
          rendering:
            show_source: true
            show_root_heading: true

hooks:
  - docs/hooks/zip_generator.py
