site_name: Xopt
repo_url: https://github.com/ChristopherMayes/Xopt
repo_name: ChristopherMayes/Xopt

nav:
    - Home: index.md
    - Installation: installation.md
    - Examples:
        - Basics:
            - examples/basic/xopt_basic.ipynb
            - examples/basic/xopt_parallel.ipynb
            - examples/basic/xopt_vocs.ipynb
        - Bayesian:
            - Bayesian Exploration:
                - Bayesian Exploration: examples/bayes_exp/bayesian_exploration.ipynb
                - Bayesian Exploration from yaml: examples/bayes_exp/bayesian_exploration_from_yaml.ipynb
            - Bayesian Optimization:
                - Upper confidence bound: examples/bayes_opt/bayesian_optimization.ipynb
                - Expected hypervolume improvement: examples/bayes_opt/mobo.ipynb
        - Evolutionary:
            - CNSGA: examples/cnsga/cnsga_tnk.ipynb
        - SciPy:
            - Nelder-Mead: examples/scipy/neldermead.ipynb


    - API:
      - Xopt: api/xopt.md
      - Vocs: api/vocs.md
      - Evaluator: api/evaluator.md
      - Generators:
          - Base generator class: api/generators.md
          - Bayesian generators: api/generators/bayesian.md
          - Genetic generators: api/generators/genetic.md
          - SciPy generators: api/generators/scipy.md

theme:
  icon:
    repo: fontawesome/brands/github
  name: material
  
  custom_dir: overrides   
  features:
    - navigation.top
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ChristopherMayes/Xopt
      name: Xopt

plugins:
    - search
      
    - mkdocs-jupyter:
        include_source: True
          
    - mkdocstrings:
        default_handler: python
        handlers:
          python:
            selection:
              docstring_style: "numpy"
              inherited_members: false
              filters:
                - "!^_"  # exclude all members starting with _
                - "^__init__$"  # but always include __init__ modules and methods
            rendering:
              show_source: true
              show_root_heading: true






