name: Run tests

on:
  pull_request:
  push:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    name: Test Suite
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/conda-setup
        with:
          python-version: ${{ matrix.python-version }}
          extras: "dev"
      - name: Test environment conda package list
        shell: bash -l {0}
        run: |
          conda list
      - name: Run unit tests
        shell: bash -l {0}
        run: pytest -n auto --cov --cov-branch --cov-report=xml
      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
